* {border:medium none; margin:0; padding:0;}
*:hover, *:active, *:focus {outline:none !important;}
html {height:100%;}
body {background:#fff; min-height:100%; color:#000; font:normal 16px Arial,Helvetica,sans-serif; display:flex; flex-direction:column;}

div {-moz-box-sizing:border-box; box-sizing:border-box; float:none;}
table {border-spacing:0; padding:0;}
a {outline:medium none; text-decoration:none;}
a:hover, a:active, a:focus {color:inherit; text-decoration:none;}

input, textarea {font-family:Arial,serif;}
input {padding:5px; border:1px solid #000;}
textarea {padding:10px; border:1px solid #000; font-size:16px;}
button {background:#e0e0e0; padding:5px; font-family:Arial,serif; border:1px solid #e0e0e0; display:inline-block; vertical-align:top; cursor:pointer; white-space:nowrap;}
img {max-width:100%;}

@media(min-width:768px){
	::-webkit-scrollbar {background:#fff; width:4px;}
	::-webkit-scrollbar-thumb {-webkit-border-radius:0px; border-radius:0px; background:rgba(103,60,141,1) !important; background:linear-gradient(to bottom,#e50e7a,#820b4c) !important; background:rgba(0,0,0,0) !important; /* invisible scroll */}
	::-webkit-scrollbar-thumb:window-inactive {background:rgba(0,0,0,0.4);}
	::-webkit-scrollbar-track {-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0); background:rgba(0,0,0,0); -webkit-border-radius:0px; border-radius:0px;}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance:none; appearance:none; margin:0;}
input[type=number] {-moz-appearance:textfield; appearance:textfield;}

h1 {padding:10px 0; margin:0;}
.content {width:100%; max-width:768px; padding:15px; margin:0 auto; display:flex; flex-flow:column nowrap; justify-content:center;}
.uuidWrap {padding:10px 0 20px; position:relative;}
.uuidTx {color:#fff; position:absolute; left:0; bottom:0;}
.taskDescription {padding:5px 0 0;}
.formBox {padding:15px 0;}
.formBox input {width:100%; height:28px; margin:5px 0; border:1px solid #999; border-radius:3px;}
.formBox button {background:#3e77aa; padding:5px 7px; color:#fff; border:1px solid #3e77aa; border-radius:3px; margin:5px 0;}
#result {padding:15px 0 0;}
#result.error {color:red;}
.version {padding:10px 0 0; text-align:right;}
.version:after {content:'fdsbhdfbfb'; color:#fff; display:block;}
@media(min-width:768px){
	.content {min-height:100%;}
	.formBox {width:100%; padding:20px 0; display:flex; flex-flow:row nowrap; align-items:center;}
	.form {padding:0 15px 0 0;}
	.formBox input {width:auto;}
	#result {padding:0;}
}
ul {padding-left:18px;}
p {padding-bottom:12px;}